<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        html {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container-fluid h-100 align-items-center bg-info">
        <div class="row">
            <div class="col-1">
                <form method="get" action="/logout" enctype="application/x-www-form-urlencoded">
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#form-modal">
                        LOGOUT
                    </button>
                </form>
            </div>
            <div class="col-1">
                <form method="get" action="/" enctype="application/x-www-form-urlencoded">
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#form-modal">
                        HOME
                    </button>
                </form>
            </div>
            <div class="col-1">
                <form method="get" action="/games/rockpaperscissor" enctype="application/x-www-form-urlencoded">
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#form-modal">
                        GAME
                    </button>
                </form>
            </div>
            <div class="col-9 text-center">
                <h1>DASHBOARD</h1>
            </div>
        </div>
        <div class="accordion row" id="accordionExample">
            <div class="col-6 ">
                <h1 class="text-center">USERS</h1>
                <div class="mb-3">
                    <button type="button" class="btn btn-primary" onclick='openFormAsAdd()' data-bs-toggle="modal"
                        data-bs-target="#form-modal">
                        ADD NEW USER
                    </button>
                </div>
                <div id="list-data">

                </div>
            </div>
            <div class="col-6 text-center">
                <h1>HISTORY</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>                            
                            <th>User ID</th>
                            <th>Username</th>
                            <th>Game Result</th>                            
                            <th>Action</th>                            
                        </tr>
                    </thead>
                    <tbody id="body"></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- FORM MODAL -->
    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="form-title"></h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="user-form">
                        <div class="form-group mb-3">
                            <label for="username">Username : </label>
                            <input type="text" class="form-control" placeholder="Username" aria-label="username"
                                id="username" name="username" value="" required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Password : </label>
                            <input type="text" class="form-control mb-3" id="password" placeholder="Password"
                                name="password" value="" required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="firstName">First Name : </label>
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                                id="firstName" name="firstName" value="" required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="lastName">Last Name : </label>
                            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
                                id="lastName" name="lastName" value="" required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Email : </label>
                            <input type="text" class="form-control mb-3" id="email" placeholder="Email" name="email"
                                value="" required />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="saveFormButton"
                                data-bs-dismiss="modal">Save changes</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- EDIT CONFIRMATION MODAL -->
    <div class="modal fade" id="editconf" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="form-title">EDIT DATA ?</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="editconf-text" class="row"></div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal"
                        data-bs-target="#form-modal">Cancel</button>
                    <button type="submit" onclick="editData()" class="btn btn-primary"
                        data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- DELETE CONFIRMATION MODAL -->
    <div class="modal fade" id="delconf" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="form-title">DELETE DATA ?</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="delconf-text"></div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" onclick="deleteData()" class="btn btn-primary"
                        data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="../public/assets/js/dashboard.js">



    </script>
</body>

</html>