<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body,
        html {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container-fluid h-100 d-flex flex-column bg-info">
        <div class="row h-25">
            <form method="get" action="/" enctype="application/x-www-form-urlencoded">
                <button type="submit" class="bg-transparent border-0">
                    <h1 class="text-white ">
                        < </h1>
                    </button>
            </form>
        </div>
        <div class="row flex-grow-1">
            <div class="col-4"></div>
            <div class="col-4 text-center align-self-center h-100">
                <form method="post" action="/dashboard/login" enctype="application/x-www-form-urlencoded">
                    <h1 class="text-white mb-4 mt-1">DASHBOARD LOGIN</h1>
                    <input type="text" class="form-control mb-3" id="username" name="username" placeholder="Username" value="" required>
                    <input type="password" class="form-control mb-3" id="password" name="password" placeholder="Password" value="" required>                    
                    <p class="text-danger"><%= message %></p>
                    <button type="submit" class="btn btn-primary col-4">Login</button>
                </form>
                <p>Note : Username admin , password admin</p>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row h-25"></div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>