<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge CH6</title>
    <link rel="stylesheet" href="../public/assets/css/style.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
</head>
<!-- navbar start -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="navbar-content container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand p-4" href="#">LOGO</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">WORK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">ABOUT ME</a>
                </li>
            </ul>
        </div>
        <div class="navbar-right">
            <ul class="navbar-nav">
                <% if (!user) { %>
                    <li class="nav-item">
                        <a class="nav-link active" href="/signup">SIGN UP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/login">LOGIN</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome , <%= user.biodata.firstName %>
                                    <%= user.biodata.lastName %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <form method="get" action="/myProfile/<%= user.id %>" enctype="application/x-www-form-urlencoded">
                                    <button type="submit" class="dropdown-item">MY PROFILE</button>
                                </form>
                                <div class="dropdown-divider"></div>
                                <form method="get" action="/logout" enctype="application/x-www-form-urlencoded">
                                    <button type="submit" class="dropdown-item">LOGOUT</button>
                                </form>
                            </div>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>
<!-- navbar end -->
<!-- main -->
<div class="main-container" id="mainPage">
    <!-- content -->
    <div class="main-top">
        <h1>PLAY TRADITIONAL GAME</h1>
        <h3> Experience new traditional gameplay</h3>
        <form method="get" action="/games/rockpaperscissor" enctype="application/x-www-form-urlencoded">
            <button type="submit" class="btn btn-warning">PLAY NOW</button>
        </form>
    </div>
    <div class="main-bottom">
        <p>THE STORY</p>
        <img src="../public/assets/img/scroll-down.svg">
    </div>
    <!-- content -->
</div>
<!-- main end -->
<!-- choice -->
<div class="choice-container " id="choicePage">
    <!-- content -->
    <div class="choice-left">
        <h3>What's so special ?</h3>
        <h1>THE GAMES</h1>
    </div>
    <div class="choice-right">
        <div id="carouselExampleIndicators" class="carousel slide w-75" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- <a href="/games/rockpaperscissor"> -->
                    <img src="../public/assets/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                    <!-- </a> -->
                </div>
                <div class="carousel-item">
                    <img src="../public/assets/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../public/assets/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- content -->
</div>
<!-- choice end -->
<!-- feature -->
<div class="feature-container " id="featurePage">
    <!-- content -->
    <div class="feature-content text-white">
        <p>What's so special ?</p>
        <h1>FEATURES</h1>
        <div id="accordion">
            <div class="">
                <div class="card-header" id="headingOne">
                    <a class="accordion-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        TRADITIONAL GAMES
                    </a>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="accordion-body">
                        If you miss your childhood , we provide many traditional games here
                    </div>
                </div>
            </div>

            <div class="">
                <div class="card-header" id="headingTwo">
                    <a class="accordion-title collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        GAME SUIT
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="accordion-body">
                        I'm Groot I'm Groot I'm Groot I'm Groot I'm Groot I'm Groot I'm Groot I'm Groot
                    </div>
                </div>
            </div>

            <div class="">
                <div class="card-header" id="headingThree">
                    <a class="accordion-title collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        TBD
                    </a>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="accordion-body">
                        I'm Groot I'm Groot I'm Groot I'm Groot I'm Groot
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
</div>
<!-- feature end -->
<!-- requirement -->
<div class="requirement-container" id="requirementPage">
    <!-- content -->
    <div class="requirement-top-holder">
        <p class="requirement-top-1"> Can My Computer Run this game ?</p>
    </div>
    <div class="requirement-title-holder">
        <h1 class="requirement-title-1">SYSTEM REQUIREMENTS</h1>
    </div>
    <div class="requirement-box-holder">
        <div class="requirement-box-row">
            <div class="requirement-box-1">
                <h4 class="requirement-box-title">OS :</h4>
                <p class="requirement-box-desc">Windows 7 64-bit only (No OSX support at this time)</p>
            </div>
            <div class="requirement-box-1">
                <h4 class="requirement-box-title">PROCESSOR :</h4>
                <p class="requirement-box-desc">Intel Core 2 Duo @ 2,4 GHZ or AMD Athlon X2 @ 2.8GHZ</p>
            </div>
        </div>
        <div class="requirement-box-row">
            <div class="requirement-box-1">
                <h4 class="requirement-box-title">MEMORY :</h4>
                <p class="requirement-box-desc">4GB RAM</p>
            </div>
            <div class="requirement-box-1">
                <h4 class="requirement-box-title">STORAGE :</h4>
                <p class="requirement-box-desc">8GB available space</p>
            </div>
        </div>
        <div class="requirement-box-row">
            <div class="requirement-box-2">
                <h4 class="requirement-box-title">GRAPHICS :</h4>
                <p class="requirement-box-desc">NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11
                    (Shader
                    Model 5)</p>
            </div>
        </div>
    </div>
    <!-- content -->
</div>
<!-- requirement end -->
<!-- topscore -->
<div class="topscore-container" id="topscorePage">
    <!-- content -->
    <div class="topscore-left">
        <div class="topscore-left-content">
            <h1>TOP SCORES</h1>
            <p> This top score from various games provided on this platform</p>
            <button type="button" class="btn btn-warning">see more</button>
        </div>
    </div>
    <div class="topscore-right">
        <div class="topscore-right-rowHolder">
            <div class="topscore-right-row">
                <div class="topscore-card-1">
                    <div class="topscore-card-template">
                        <div class="card-temp-row1">
                            <div class="card-temp-photo">
                                <img src="../public/assets/img/evan-lahti.jpg" class="topscore-card-photo">
                            </div>
                            <div class="card-temp-namerole">
                                <h5 class="topscore-card-name">Evan Lathi</h5>
                                <h5 class="topscore-card-role">PC Gamer</h5>
                            </div>
                            <div class="card-temp-socmedicon">
                                <img src="../public/assets/img/twitter-card.png">
                            </div>
                        </div>
                        <div class="card-temp-row2">
                            <div class="card-temp-review">
                                <p class="topscore-card-review">"One of my gaming highlight of the year."</p>
                            </div>
                        </div>
                        <div class="card-temp-row3">
                            <div class="card-temp-date">
                                <p class="topscore-card-date">July 18 , 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topscore-right-row">
                <div class="topscore-card-2">
                    <div class="topscore-card-template">
                        <div class="card-temp-row1">
                            <div class="card-temp-photo">
                                <img src="../public/assets/img/jada-griffin.jpg" class="topscore-card-photo">
                            </div>
                            <div class="card-temp-namerole">
                                <h5 class="topscore-card-name">Jada Griffin</h5>
                                <h5 class="topscore-card-role">Nerdcreator</h5>
                            </div>
                            <div class="card-temp-socmedicon">
                                <img src="../public/assets/img/twitter-card.png">
                            </div>
                        </div>
                        <div class="card-temp-row2">
                            <div class="card-temp-review">
                                <p class="topscore-card-review">"The next big thing in the world of streaming and
                                    survival games."</p>
                            </div>
                        </div>
                        <div class="card-temp-row3">
                            <div class="card-temp-date">
                                <p class="topscore-card-date">June 18 , 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topscore-right-row">
                <div class="topscore-card-3">
                    <div class="topscore-card-template">
                        <div class="card-temp-row1">
                            <div class="card-temp-photo">
                                <img src="../public/assets/img/aaron-williams.jpg" class="topscore-card-photo">
                            </div>
                            <div class="card-temp-namerole">
                                <h5 class="topscore-card-name">Aaron Williams</h5>
                                <h5 class="topscore-card-role">Uproxx</h5>
                            </div>
                            <div class="card-temp-socmedicon">
                                <img src="../public/assets/img/twitter-card.png">
                            </div>
                        </div>
                        <div class="card-temp-row2">
                            <div class="card-temp-review">
                                <p class="topscore-card-review">"Snoop Dogg Playing The Wildly Entertaining 'SOS' is
                                    Ridiculous."</p>
                            </div>
                        </div>
                        <div class="card-temp-row3">
                            <div class="card-temp-date">
                                <p class="topscore-card-date">December 24 , 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->

</div>
<!-- topscore end -->
<!-- newsletter -->
<div class="newsletter-container">
    <!-- content -->
    <div class="newsletter-left">
        <div class="newsletter-left-img">
            <!-- <img src="./assets/img/skull.png" class="newsletter-skull"> -->
        </div>
    </div>
    <div class="newsletter-right">
        <div class="newsletter-right-top">
            <h3>Want to stay in touch?</h3>
            <h1> NEWS LETTER SUBSCRIBE</h1>
            <p> In order to start receiving our news , all you have to do is enter your email address. Everything else
                will be taken care of by us. We will send you emails containing information about the game. We don't
                spam.</p>
        </div>
        <div class="newsletter-right-bottom">
            <input type="email" placeholder="youremail@binar.co.id">
            <button type="button" class="btn btn-warning">Subscribe now</button>
        </div>
    </div>
    <!-- content -->
</div>
<!-- newsletter end -->
<!-- footer -->
<div class="footer-container">
    <div class="footer-content">
        <div class="footer-top">
            <a class="footer-button" href="#mainPage">MAIN</a>
            <a class="footer-button" href="#choicePage">ABOUT</a>
            <a class="footer-button" href="#featurePage">GAME FEATURES</a>
            <a class="footer-button" href="#requirementPage">SYSTEM REQUIREMENTS</a>
            <a class="footer-button" href="#topscorePage">QUOTES</a>
            <img class="footer-button" src="../public/assets/img/facebook.svg">
            <img class="footer-button" src="../public/assets/img/twitter.svg">
            <img class="footer-button" src="../public/assets/img/vector.svg">
            <img class="footer-button" src="../public/assets/img/twitch.svg">
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-left">
                <p> @ 2018 Your Games, Inc. All Rights Reserved</p>
            </div>
            <div class="footer-bottom-right">
                <a class="footer-button" href="#">PRIVACY POLICY</a>
                <a class="footer-button" href="#">TERMS OF SERVICES</a>
                <a class="footer-button" href="#">CODE OF CONDUCT</a>
            </div>
        </div>
    </div>
</div>
<!-- footer end -->




<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
<script src="../public/assets/js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script>
    // goToMyProfile = () => {
    //     let user = {
    //         id:'<%- user.id%>'
    //     }
    //     fetch(`${BASE_URL}/myProfile`, {
    //         method: "GET",
    //         headers: {
    //             "content-type": "application/json"
    //         },
    //         body: JSON.stringify(user)
    //     })
    // }
</script>
</body>

</html>