<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body,
        html {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container-fluid h-100 align-items-center bg-info">
        <form method="get" action="/" enctype="application/x-www-form-urlencoded">
            <button type="submit" class="bg-transparent border-0">
                <h1 class="text-white ">
                    < </h1>
            </button>
        </form>

        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 text-center align-self-center h-100">
                        <form method="post" action="/myProfile" enctype="application/x-www-form-urlencoded">
                            <h1 class="text-white mt-1">MY PROFILE</h1>
                            <div class="form-group mb-3">
                                <label for="firstName">Username : </label>
                                <input type="text" class="form-control" placeholder="Username" aria-label="username"
                                    id="username" name="username" value="<%= user.username %>" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="firstName">First Name : </label>
                                <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                                    id="firstName" name="firstName" value="<%= user.biodata.firstName %>" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="lastName">Last Name : </label>
                                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
                                    id="lastName" name="lastName" value="<%= user.biodata.lastName %>" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="email">Email : </label>
                                <input type="email" class="form-control mb-3" id="email" placeholder="Email"
                                    name="email" value="<%= user.biodata.email %>" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="password">Password : </label>
                                <input type="password" class="form-control mb-3" id="password" placeholder="Password"
                                    name="password" value="<%= user.password %>" required />
                            </div>
                            <!-- <p class="">                                
                            </p> -->
                            <button type="button" class="btn btn-primary col-4 mb-3" data-bs-toggle="modal"
                                data-bs-target="#editconf" onclick="editDataPrep()">Save Changes</button>
                        </form>
                        <!-- <form method="post" action="/deleteProfile" enctype="application/x-www-form-urlencoded"> -->
                        <button type="button" class="btn btn-danger col-4" data-bs-toggle="modal"
                            data-bs-target="#delconf">Delete My Account</button>
                        <!-- </form> -->
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- EDIT CONFIRMATION MODAL -->
    <div class="modal fade" id="editconf" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="form-title">EDIT DATA ?</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <h5>OLD DATA :</h5>
                            <p>username: <%= user.username %>
                            </p>
                            <p>password: <%= user.password %>
                            </p>
                            <p>first name: <%= user.biodata.firstName %>
                            </p>
                            <p>last name: <%= user.biodata.lastName %>
                            </p>
                            <p>email: <%= user.biodata.email %>
                            </p>
                        </div>
                        <div class="col-6 ">
                            <h5>NEW DATA :</h5>
                            <div id="editconf-text"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal"
                        data-bs-target="#form-modal">Cancel</button>
                    <button type="submit" onclick="editData()" class="btn btn-primary"
                        data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- DELETE CONFIRMATION MODAL -->
    <div class="modal fade" id="delconf" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="form-title">DELETE YOUR ACCOUNT ?</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="delconf-text">
                        <p>Are you sure ? This action can't be undone !</p>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" onclick="deleteData()" class="btn btn-primary"
                        data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script>
        const BASE_URL = "http://localhost:3000"
        const username = document.getElementById("username")
        const password = document.getElementById("password")
        const email = document.getElementById("email")
        const firstName = document.getElementById("firstName")
        const lastName = document.getElementById("lastName")
        const editconfText = document.getElementById('editconf-text')

        editDataPrep = () => {
            // console.log('edit prep 2')
            let newData = `
                <p>username: ${username.value}</p>
                <p>password: ${password.value}</p>
                <p>first name: ${firstName.value}</p>
                <p>last name: ${lastName.value}</p>
                <p>email: ${email.value}</p>
                `

            editconfText.innerHTML = newData
        }

        editData = () => {
            if('<%- user.id %>' == '1'){
                alert(`You can't modify admin data !`)
                return
            }
            let payload = {
                id: '<%- user.id %>',
                username: username.value,
                password: password.value,
                email: email.value,
                firstName: firstName.value,
                lastName: lastName.value
            }
            fetch(`${BASE_URL}/api/v1/users/<%- user.id %>`, {
                method: "PUT",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify(payload)
            })
                .then(response => {
                    // fetch(`${BASE_URL}/myProfile/<%- user.id %>`,{
                    //     method:"GET"
                    // })
                    location.reload()
                })
        }

        deleteData = () => {
            if('<%- user.id %>' == '1'){
                alert(`You can't delete admin data !`)
                return
            }
            fetch(`${BASE_URL}/api/v1/users/<%- user.id %>`, {
                method: "DELETE"
            }).then(res => {
                fetch(`${BASE_URL}/logout`, {
                    method: "GET"
                })
            })
        }
    </script>
</body>

</html>