<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body,
        html {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container-fluid h-100 align-items-center bg-info">
        <form method="get" action="/" enctype="application/x-www-form-urlencoded">
            <button type="submit" class="bg-transparent border-0">
                <h1 class="text-white ">
                    < </h1>
            </button>
        </form>

        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 text-center align-self-center h-100">
                        <form id="form-signup">
                            <h1 class="text-white mt-1">SIGN UP</h1>
                            <p class="text-secondary">Please fill in this from to create an account!</p>
                            <input type="text" class="form-control mb-3" id="username" placeholder="Username"
                                name="username" value="" required />
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="First name"
                                        aria-label="First name" name="firstName" id="firstName" value="" required />
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Last name"
                                        aria-label="Last name" name="lastName" id="lastName" value="" required />
                                </div>
                            </div>
                            <input type="email" class="form-control mb-3" id="email" placeholder="Email" name="email"
                                value="" required />
                            <input type="password" class="form-control mb-3" id="password" placeholder="Password"
                                name="password" value="" required />
                            <input type="password" class="form-control mb-3" id="confirmPassword"
                                placeholder="Confirm Password" name="confirmPassword" value="" required/>
                            <div class="col text-start mb-3">
                                <input class="form-check-input" type="checkbox" value="true" id="agreementCheck"
                                    name="agreementCheck" required/>
                                <label class="form-check-label" for="agreementCheck">
                                    I accept the <a href="">Terms of Use</a> & <a href="">Privacy Policy</a>
                                </label>
                            </div>
                            <div id="message">
                                
                            </div>
                            <button type="submit" class="btn btn-primary col-4">Sign Up</button>
                        </form>
                        <p>Already have an account? <a href="/login">Login here</a></p>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <!-- <script src="../public/assets/js/signup.js"></script> -->
    <script>
        const BASE_URL = `http://localhost:3000`
        const signupForm = document.getElementById('form-signup')
        const firstName = document.getElementById('firstName')
        const lastName = document.getElementById('lastName')
        const username = document.getElementById('username')
        const email = document.getElementById('email')
        const password = document.getElementById('password')
        const confirmPassword = document.getElementById('confirmPassword') 
        const agreementCheck = document.getElementById('agreementCheck')       
        const message = document.getElementById('message')        

        signupForm.onsubmit = function (e) {
            e.preventDefault()
            saveData()
        }

        let saveData = () => {
            // console.log('masuk');
            if(password.value != confirmPassword.value){
                confirmPassword.classList.add('is-invalid')
                message.innerHTML = "<p class='text-danger'>Confirm password and password not match</p>"
                return
            }

            let payload = {
                firstName: firstName.value,
                lastName: lastName.value,
                username: username.value,
                email: email.value,
                password: password.value
            }

            fetch(`${BASE_URL}/api/v1/users`, {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
                .then(res => res.json())
                .then(res => {
                    if (res.signupSuccess) {
                        message.innerHTML = "<p class='text-success'>Signup success. Please login to your account.</p>"
                        firstName.value = ''
                        lastName.value = ''
                        username.value = ''
                        email.value = ''
                        password.value = ''
                        confirmPassword.value = ''
                        confirmPassword.classList.remove('is-invalid')
                        agreementCheck.checked = false                        
                    } else {
                        message.innerHTML = "<p class='text-danger'>Signup failed :(</p>"
                    }
                })
        }

        // console.log('masuk signup');
    </script>
</body>

</html>