.background {
    background-color: #9C835F;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myNavbar {
    width: 100%;
    height: 10%;

    display: flex;
}

.arrowBack {
    font-family: Open Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #724C21;
    text-decoration: none;

    margin-left: 20px;
    margin-right: 20px;
}

.logoBack {
    width: 64px;
    height: 64px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.textBack {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
    color: #F9B23D;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.playground {
    width: 100%;
    height: 90%;

    display: flex;
    justify-content: center;
}

.left-holder {
    width: 30%;
    height: 80%;
    margin-top: 20px;
}

.left-right-1 {
    width: 100%;
    height: 10%;

    /* font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 1px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase; */
    text-align: center;
}

.left-right-234 {
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-holder {
    width: 30%;
    height: 100%;
}

.mid-1 {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.versus-text {
    color: #BD0000;
    font-family: 'Open Sans';
    font-size: 144px;
    font-weight: 700;
    line-height: 196px;
    letter-spacing: 0.1em;
    text-align: center;
}

.mid-2 {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
}

.right-holder {
    width: 30%;
    height: 80%;
    margin-top: 20px;
}

.img-batu {
    width: 120px;
    height: 86px;
}

.img-kertas {
    width: 85px;
    height: 117px;
}

.img-gunting {
    width: 100px;
    height: 119px;
}

.img-refresh {
    width: 77px;
    height: 71px;
}

.selected-bg {
    width: 150px;
    height: 150px;
    background: #c4c4c400;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.result-holder {
    background: #4C9654;
    border-radius: 10px;
    color: white;
    font-family: 'Open Sans';
    font-size: 38px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.1em;
    text-align: center;
    width: 271.11px;
    height: 166.93px;

    display: none;
    justify-content: center;
    align-items: center;
}

/* =================== LAYOUTING PURPOSE ====================================== */
/* .navbar {
    background-color: rgba(0, 255, 255, 0.137);
}

.playground {
    background-color: rgba(137, 43, 226, 0.158);
}

.left-holder {
    background-color: rgba(0, 136, 255, 0.199);
}

.left-right-1 {
    border: solid 1px white;
}

.left-right-234 {
    border: solid 1px white;
}

.mid-holder {
    background-color: rgba(255, 0, 0, 0.199);
}

.mid-1 {
    border: solid 1px white;
}

.versus-holder {
    border: solid 1px white;
}

.mid-2 {
    border: solid 1px white;
}

.right-holder {
    background-color: rgba(0, 255, 42, 0.199);
} */